<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Template Inheritance</title>
    <style type="text/css">
*{
    text-decoration: none;
}
body{
    background-color: beige;
}
.navbar{
    background: crimson;
    font-family: Calibri;
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
    display: inline;
}
li a{
    color: aliceblue; 
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;

}
p{
    text-align: center;
    color: brown;
}
    </style>
</head>
<body>
    <nav class="navbar">
         <div class="Knave">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Origin</a></li>
            </ul>
         </div>
    </nav>
    <p> This is a Index page   <br>
           <br>
             Habibi </p>
    
</body>
</html>